/*
/*/
*.log
!/.gitignore
!/.Rbuildignore
!/.gitlab-ci.yml
!/data-raw/
!/data/
/data-raw/*
!/data-raw/devstuffs.R
!/DESCRIPTION
!/FAQ.md
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/README.md
!/tests/
/.Rhistory
!/*.Rproj
/.Rproj*
/.RData
.Rproj.user
/tests/testthat/testdata/
/tests/*
!/tests/testthat/
!/tests/testthat.R
/tests/testthat/*
!/tests/testthat/test-*.R
inst/doc
!/vignettes/
!/inst/
/.vscode
!/.lintr
!/.github/
!/tic.R
